# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfplan
crash.log

# Secrets
*.pem
*.key
admin-password.txt

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
# Credentials et fichiers sensibles
connexion_vm.txt
terraform/connexion_vm.txt
terraform/tfplan
